# requirements.txt
# Backend
fastapi==0.95.2
uvicorn==0.22.0
python-multipart==0.0.6
pydantic==1.10.7

# Machine Learning
numpy==1.24.3
pandas==2.0.1
scikit-learn==1.2.2
joblib==1.2.0

# Computer Vision
opencv-python==4.7.0.72
mediapipe==0.10.0

# AWS
boto3==1.26.123

# Testing
pytest==7.3.1
httpx==0.24.0

# Utilities
python-dotenv==1.0.0